@import "node_modules/bootstrap/less/bootstrap";
@import "node_modules/bootstrap-material-design/less/bootstrap-material-design";

.text-center {
  text-align: center;
}
footer {
  background-color: #374147;
  height: 100px;
}
